html {
	
	height:100%;
    background-color: #f9f4f4;/*defining the html's background colour*/
}

body {
  
    font-family: Arial, Times New Roman; /*font for most of the page*/
    margin: 0px;
    height: 100%;

    
}


.content{
	
	position: center;
	margin: auto;

	
}

.content img{
	border: 2px solid #C0C0C0;
	border-radius:5px;
}

.content h1 {
	padding-top: 45px; /*defining the height of the bar*/
    margin: auto; /*centering the main header*/
    text-align: center;/*aligning the header to the center*/
    width: 30%;/*defining the width of the header*/
	font-size: 32px;
    clear: both; /*preveting things floating either side of the main header*/
    position: block; /*helping to move the position of the header*/
    padding-bottom: 0px;/*ensuring the header has no padding on bottom*/
    border-bottom: solid;/*defining the bottom border's style, color and width*/
    border-bottom-color: #E61337;
    border-bottom-width: 4px;
    font-family: "Lucida Sans Unicode"; /*font used for the header*/
    color: #004B83; /*blue colour used for the header*/
}


.content p{
	padding-left: 17.5%;
	padding-right: 17.5%;
	text-align: center;
}

.center{
	display:block;
	margin:auto;
	text-align: center;
	margin-bottom: 20px;
	
}

.home{
	background-color: #4079ff;
	color: #004B83; /*defining the color of the header*/
	margin: 0px;
	padding-bottom:2px;

}



.home p{
	font-size: 30px;
}

.features{
	background-color: #DCDCDC;
	color: #FFFFFF;
	padding-bottom: 20px;
}

.features p {

	font-size: 25px;
}

.images p{
	font-size: 20px;
}

.images{
	float: left;
	width: 33%;
	text-align: center;
}

/*this segment of code is adapted from w3schools 
(https://www.w3schools.com/howto/howto_css_clearfix.asp)*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*end of sourced code*/


.userguide{
	background-color: #4079ff;
	color: #004B83; /*defining the color of the header*/
	margin: 0px;
	padding-bottom:1px;
}

.guideheader{
	font-size: 25px;
}

.guide{
	font-size: 18px;
}

.userguide a{
	width:10%;
	margin:0;
}


.downloads{
	background-color: #DCDCDC;
	color: #004B83; /*defining the color of the header*/
	margin: 0px;
	padding-bottom:1px;
	height: 100%;
}

.downloads p{
	font-size: 25px;
}

.downloads img{
	border: none;
}

.updatelog{
	background-color: #DCDCDC;
	color: #004B83; /*defining the color of the header*/
	margin: 0px;
	padding-bottom:1px;
	height: 100%;
}

.updatelog h1{
	font-size: 28px;
	border-bottom-width:3px;
}


.updatelog p{
	font-size: 25px;
}

.updatelog ul{
	font-size: 18px;
	padding-left: 17.5%;
	padding-right: 17.5%;
	text-align: center;
	list-style: none;
}

.updatelog li{
	padding-top: 3px;
	padding-bottom: 3px;
}

.banner{
	background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/usb-big.jpg");
	width: 100%;
	margin:none;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Verdana", "Arial", serif;
  transform: translate(-50%, -50%);
}

.banner-text h1{
	font-size: 40px;
	color: #F90E0E;
	
	
}

.banner-text p{
	font-size: 30px;
	color: #F90E0E;
	
}


.navbar {
    
    text-align: center;
    padding-left: 0;
	position: fixed;
	top: 0;
	width: 100%;
		
	
   
}

    .navbar ul {
        
        list-style-type: none; /*making sure the bar has no list styling*/
		display: inline-block; /*making the bar display as an inline block*/
        margin: auto;
        padding: 0; /*making sure the bar has no padding*/
        height: 45px; /*defining the height of the bar*/
        width: 100%; /*defining the width of the bar*/
        background-color: #00477F; /*defining the bar's blue colour*/
		
		
        
		 
    }



        .navbar ul li {
            display: inline; /*making each element of the bar display inline*/
        }


            .navbar ul li a {
                position: relative; /*making elements of the bar positioned relative*/
                text-decoration: none; /*removing the underlines of the text of each element*/
                top: 14px; /*moving the elements slightly from the top*/
                width: auto; /*making the width of the elements scale with screen size*/
                padding: 14px 13px 14px 13px; /*adding padding to the elements to position them better*/
                color: white; /*making the elements' text colour white*/
                background-color: #00477F; /*defining the blue colour for the background of the elements*/
            }

                .navbar ul li a:hover {
                    height: auto; /*making the highlight height automatic*/
                    background-color:#E61337; /*defining the lighter blue for when hovering over an element*/
                    width: auto; /*making the highlight width automatic*/
                }
			
